{% macro money_line(paid, delta_text=None, colspan=None, tab=None) -%}
{%- set tab_text = tab or ("MONEY LINE · TOP " ~ paid ~ " PAID") -%}
{%- if colspan -%}
<tr class="money-line-row"><td colspan="{{ colspan }}">
  <div class="money-line"><span class="money-line-tab">{{ tab_text }}</span>
  {% if delta_text %}<span class="money-line-delta mono">{{ delta_text }}</span>{% endif %}
  </div>
</td></tr>
{%- else -%}
<div class="money-line"><span class="money-line-tab">{{ tab_text }}</span>
{% if delta_text %}<span class="money-line-delta mono">{{ delta_text }}</span>{% endif %}
</div>
{%- endif -%}
{%- endmacro %}
